#!/bin/sh

xbindkeys -f "$HOME"/.config/xbindkeys/config
# Set sensitivity of the trackpoint
#xinput set-prop "TPPS/2 IBM TrackPoint" "libinput Accel Speed" -0.5
# Maps caps lock to escape
setxkbmap -option caps:escape
# Updates mpd database
mpc update
# Automatically loads configuration for multiple monitors
autorandr --change

xcompmgr &

xset r rate 300 50 &

# Set background
setbg

#----------------------DWM------------------------#
# Enable these options if you use dwm

# Status bar for dwm
#while xsetroot -name "`dwm-status-bar`"
#do
	#sleep 1
#done &
dwmblocks &
# Notification manager for dwm
dunst &

