dwm.normbordercolor: #222222
dwm.normbgcolor: #282828
dwm.normfgcolor: #fbf1c7
!dwm.selbordercolor: #b3b3b3
dwm.selbordercolor: #d5c4a1
!dwm.selbgcolor: #283655
!dwm.selbgcolor: #458588
dwm.selbgcolor: #504945
dwm.selfgcolor: #fbf1c7
!dwm.selfgcolor: #000000

! as for now they are useless but they are nice colors, check if they can be used somewhere with dwm
dwm.color0bg: #c9cba3
dwm.color1bg: #ffe1a8
dwm.color2bg: #e26d5c
dwm.color3bg: #723d46
dwm.color4bg: #472d30
dwm.color5bg: #723d46

dwm.color0fg: #000000
dwm.color1fg: #000000
dwm.color2fg: #000000
dwm.color3fg: #ffffff
dwm.color4fg: #ffffff
dwm.color5fg: #ffffff

!dmenu.font:
dmenu.background: #282828
dmenu.foreground: #bbbbbb
!dmenu.selbackground: #283655
dmenu.selbackground: #504945
dmenu.selforeground: #ffffff

! URxvt
URxvt.font: xft:Hack Nerd Font:size=11
URxvt.scrollBar: false
URxvt.letterSpace: -1

! Gruvbox light
!! hard contrast: *background: #f9f5d7
!*background: #fbf1c7
!! soft contrast: *background: #f2e5bc
!*foreground: #3c3836
!! Black + DarkGrey
!*color0:  #fdf4c1
!*color8:  #928374
!! DarkRed + Red
!*color1:  #cc241d
!*color9:  #9d0006
!! DarkGreen + Green
!*color2:  #98971a
!*color10: #79740e
!! DarkYellow + Yellow
!*color3:  #d79921
!*color11: #b57614
!! DarkBlue + Blue
!*color4:  #458588
!*color12: #076678
!! DarkMagenta + Magenta
!*color5:  #b16286
!*color13: #8f3f71
!! DarkCyan + Cyan
!*color6:  #689d6a
!*color14: #427b58
!! LightGrey + White
!*color7:  #7c6f64
!*color15: #3c3836

! Gruvbox dark
! hard contrast: *background: #1d2021
*background: #282828
! soft contrast: *background: #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color9:  #cc241d
*color1:  #fb4934
! DarkGreen + Green
*color10:  #98971a
*color2: #b8bb26
! DarkYellow + Yellow
*color11:  #d79921
*color3: #fabd2f
! DarkBlue + Blue
*color12:  #458588
*color4: #83a598
! DarkMagenta + Magenta
*color13:  #b16286
*color5: #d3869b
! DarkCyan + Cyan
*color14:  #689d6a
*color6: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2
